<h1 mat-dialog-title>Add new agent</h1>
<div mat-dialog-content>
  <p>What's the name of the agent? (unique)</p>
  <mat-form-field appearance="fill">
    <mat-label>Type here...</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <p>What's the agent id? </p>
  <mat-form-field appearance="fill">
    <mat-label>Type here...</mat-label>
    <input matInput [(ngModel)]="data.agentId">
  </mat-form-field>
  <p>What's the agent alias id? </p>
  <mat-form-field appearance="fill">
    <mat-label>Type here...</mat-label>
    <input matInput [(ngModel)]="data.agentAliasId">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
